body {
    padding: 0;
    margin: 0;
    background: #DAE2F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height:400px;
    margin: 1em auto;
  }
  
  .calculator {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%
  }

  .display {
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    height: 85px;
    width: 93.25%;
    margin: 0 auto;
    padding:0;
    font-size: medium;
  }

  button {
    height: 50px;
    width: 70px;
    font-size: large;
    border: none;
    outline:none;
  }

  button:hover {
    background-color: #6e6d6d;
  }

  .header {
    font-size: 1rem;
    color: #393e46;
    padding: 0;
    margin:0.4em;
  }

  .history {
    text-align: center;
    background-color:  #dfd3c3;
    width: 93.25%;
    height: 2.5em;
    margin: 0 auto;
  }

  .history-btn {
    background-color: #dfd3c3;
    padding: 0;
    margin: 0;
    &:hover {
      background-color: #fabea7;
    }
  }

nav {
    display: flex;
    justify-content: space-evenly;
    min-height: 5vh;
    text-decoration: none;
    div {
      display: flex;
      justify-content: space-between;
      div {
        margin:1em;
        padding-top:0.8em;
        text-decoration: none;
        border: none;
        cursor: pointer;
        font-size: large;
        color: #222;
        text-shadow: 0px 2px 3px rgb(114, 112, 112);
      }

    }
    
}

@media only screen and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 5vh;
    text-decoration: none;
    div {
      display: flex;
      justify-content: space-between;
      div {
        margin:1em;
        padding-top:0.8em;
        text-decoration: none;
        border: none;
        cursor: pointer;
        font-size: large;
        color: #222;
        text-shadow: 0px 2px 3px rgb(114, 112, 112);
      }

    }
    
}
}


.about {
  text-align: center;
  color: maroon;
  p{
    margin: auto;
    color: #ff4b5c;
    text-align: center;
    width: 400px;
  }
}


.contact {
  text-align: center;
  color: #07031a;
}